<div class="loading" *ngIf="!cars">Cargando...</div>
<div class="col-md-12" *ngIf="cars">
    <h2>{{title}}</h2>
    <br/>
    <table class="table table-hover table-stripped" id="cars-list">
        <tr>
            <th>Vehículo</th>
            <th>Precio</th>
            <th>A la venta</th>
            <th>Acciones</th>
        </tr>
        <tr *ngFor="let car of cars">
            <td>
                <a [routerLink]="['/coche', car.id]">{{car.title}}</a>
            </td>
            <td>
                {{car.price}}
            </td>
            <td>
                <span *ngIf="car.status=='true'">Sí</span>
                <span *ngIf="car.status=='false'">No</span>
            </td>
            <td>
                <a [routerLink]="['editar-coche',car.id]" class="btn btn-warning">Editar</a>
                <a href='#' class="btn btn-danger" (click)="deleteCar(car.id)">Borrar</a>
            </td>
        </tr>
    </table>
</div>